@import "tailwindcss";

@theme {
  --color-*: initial;
  --radius-*: initial;
  --shadow-*: initial;
  --drop-shadow-*: initial;
  --blur-*: initial;
  --perspective-*: initial;
  --font-dtl-prokyon: "DTLProkyon", ui-sans-serif;
  --color-official-green: #092e20;
  --color-website-text: #0c3c26;
  --color-website-dark-green: #0c4b33;
  --color-website-secondary-green: #20aa76;
  --color-website-light-green: #93d7b7;
  --color-secondary-lime: #89e7c3;
  --color-official-white: #ffffff;
  --color-website-dark-red: #6a0e0e;
  --color-django-girls-plus-orange: #ff8d02;
  --color-django-pony-light-pink: #f6bfcd;
  --color-django-pony-pink: #f18197;
  --color-django-pony-purple: #642982;
}

@layer theme {
  @font-face {
    font-family: "DTLProkyon";
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("assets/fonts/dtl-prokyon.woff2") format("woff2");
  }
}

@layer base {
  body {
    --light-dark: light-dark(
      color-mix(in oklch, CanvasText 10%, Canvas),
      color-mix(in oklch, CanvasText 15%, Canvas)
    );
    --dark-light: color-mix(in oklch, Canvas 10%, CanvasText);
    color: color-mix(in oklch, var(--light-dark) 20%, CanvasText);
    --safe-area: 3vmin;
    font-size: clamp(1rem, calc(0.65dvmax + 1rem), 3dvmin);
  }

  main {
    & > * {
      min-height: 100vh;
    }
  }

  a {
    text-decoration: underline;
    color: color-mix(in oklch, currentColor 90%, var(--dark-light));

    &:hover {
      text-decoration: dashed underline;
      color: currentColor;
    }
  }

  table {
    border: 1px solid currentColor;

    th,
    td {
      border: 1px solid currentColor;
      padding: 0.125em;
      text-align: start;
    }
  }

  h1 {
    font-size: 8dvmin;
    font-weight: var(--font-weight-semibold);
    line-height: 1.25;
  }

  h2 {
    font-size: 2.2em;
    line-height: 1.4;
    font-weight: var(--font-weight-semibold);
    text-wrap: balance;
    font-family: var(--font-dtl-prokyon);
    margin-top: var(--safe-area);
    margin-bottom: 1em;

    .slide--cover & {
      font-size: clamp(2rem, 4dvmin, 6rem);
    }
  }

  h3 {
    font-size: 1.6em;
    line-height: 1.2;
    font-weight: var(--font-weight-semibold);
    font-family: var(--font-dtl-prokyon);
    text-wrap: balance;
    margin-top: var(--safe-area);
    margin-bottom: 1em;
  }

  h4 {
    font-size: 1.3em;
    line-height: 1.1;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1em;
  }

  h5 {
    line-height: 1.1;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 0.5em;
  }

  p:has(~ :where(p, ul, ol, pre, blockquote)) {
    margin-bottom: 0.5em;
  }

  blockquote p:first-child {
    margin-bottom: 1em;
  }

  ul {
    list-style: disc;
    margin-inline-start: 4vmin;

    > li > ul {
      list-style: circle;
    }
  }

  ol {
    list-style: decimal;
    margin-inline-start: 4vmin;
  }

  li {
    margin-bottom: 0.5em;
  }

  blockquote {
    margin: 0;
    margin-bottom: 1em;
    padding: 0.5em 0.25em;
    padding-inline-start: 1em;
    border-inline-start: 0.25em solid currentColor;
    background-color: color-mix(in oklch, var(--light-dark) 10%, Canvas);
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.25;

    @media (forced-colors: active) {
      border: 2px solid CanvasText;
      border-inline-start-width: 0.25em;
    }
  }
}

@layer components {
  .slide {
    --angle-factor: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--safe-area) 4vmin;
    --hue: oklch(30% 0.4 calc(230 + calc(5 * var(--angle-factor))));
    --bg: color-mix(in oklch, var(--light-dark) 90%, var(--hue));
    --bg2: color-mix(in oklch, var(--bg) 90%, var(--light-dark));
    background: var(--bg);
    color: color-mix(in oklch, var(--hue) 50%, var(--dark-light));

    @media (forced-colors: active) {
      border: 2px solid CanvasText;
    }

    strong mark,
    mark strong {
      font-size: 2em;
    }

    figcaption {
      color: color-mix(in oklch, currentColor 80%, var(--dark-light));
    }

    > hgroup {
      margin-bottom: 4vmin;

      > p {
        margin-top: 0.5em;
      }
    }

    > .slide-content {
      flex: 1 0 auto;

      &:has(figure:only-child) {
        display: grid;
        place-items: center;
      }
    }

    &:has(h2) {
      --angle-factor: 5 !important;
      border-top: 4px solid black;
    }

    > .slide-footer {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: 1rem;

      > a:only-child {
        margin-inline-start: auto;
      }

      &:has(> a:only-child) {
        position: absolute;
        bottom: var(--safe-area);
        inset-inline-end: 4vmin;
      }
    }

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* max-width: max(320px, min(80vw, 100vmin)); */
      width: 100%;
      margin: 0 auto;

      img {
        width: auto;
        max-height: 55vh;
      }

      &:not(:only-child) {
        margin-bottom: 0.5em;
      }
    }

    &:nth-of-type(3n) {
      --angle-factor: 6;
    }

    &:nth-of-type(4n) {
      --angle-factor: 9;
    }

    &:nth-of-type(5n) {
      --angle-factor: 12;
    }

    &:nth-of-type(7n) {
      --angle-factor: 15;
    }

    &.slide--cover {
      color: light-dark(
        var(--color-official-green),
        var(--color-official-white)
      );
      background-color: Canvas;
      background-image:
        radial-gradient(
          55.51% 55.51% at 50% 56.73%,
          light-dark(#def6eaee, #125e41aa) 0%,
          light-dark(#89e7c3ee, color-mix(in oklch, #2acd8faa, Canvas 60%)) 65%
        ),
        url("assets/bg/left-cloud.svg"), url("assets/bg/right-cloud.svg"),
        url("assets/bg/right-cloud.svg"), url("assets/bg/left-cloud.svg");
      background-position:
        0 0,
        -16vw -11vh,
        -20vw 64vh,
        88vw -12vh,
        72vw 55vh;
      background-repeat: no-repeat;
      background-size:
        cover,
        40vw 40vh,
        60vw 56vh,
        40vw 40vh,
        48vw 53vh;

      img {
        width: 30vw;
      }
    }

    &.slide--chaoss-dei-badge {
      background:
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(255, 107, 160, 0.3) 0%,
          rgba(255, 255, 255, 0) 62.81%
        ),
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(98, 203, 251, 0.3) 0%,
          rgba(255, 255, 255, 0) 62.81%
        ),
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(94, 184, 148, 0.3) 0%,
          rgba(255, 255, 255, 0) 62.81%
        ),
        radial-gradient(
          55.51% 55.51% at 50% 56.73%,
          color-mix(in oklch, Canvas 95%, transparent) 0%,
          color-mix(in oklch, Canvas 95%, transparent) 65%
        ),
        url("assets/bg/left-cloud.svg"), url("assets/bg/right-cloud.svg"),
        url("assets/bg/right-cloud.svg"), url("assets/bg/left-cloud.svg");
      background-position:
        -50vw 0,
        0vw 0,
        50vw 0,
        0 0,
        -16vw -11vh,
        -20vw 64vh,
        88vw -12vh,
        72vw 55vh;
      background-repeat: no-repeat;
      background-size:
        cover,
        cover,
        cover,
        cover,
        40vw 40vh,
        60vw 56vh,
        40vw 40vh,
        48vw 53vh;
      background-repeat: no-repeat;
    }

    &.slide--tri-radial {
      background:
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(255, 107, 160, 0.3) 0%,
          rgba(255, 255, 255, 0) 62.81%
        ),
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(98, 203, 251, 0.3) 0%,
          rgba(255, 255, 255, 0) 62.81%
        ),
        radial-gradient(
          50% 50% at 50% 50%,
          rgba(94, 184, 148, 0.3) 0%,
          rgba(255, 255, 255, 0) 62.81%
        );
      background-position:
        -50vw 0,
        0vw 0,
        50vw 0;
      background-repeat: no-repeat;
    }

    &.slide--2col {
      display: grid;
      padding: 0;

      > div:first-child {
        padding: var(--safe-area) 4vmin;
      }

      > div:nth-child(2) {
        padding: var(--safe-area) 4vmin;
      }

      @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;

        div:first-child {
          max-height: none;
        }
      }

      img.bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }

    &.slide--2col-wide {
      @media (min-width: 1024px) {
        grid-template-columns: 4fr 1fr;
      }
    }

    &.slide--4grid {
      display: grid;
      padding: 0;

      @media (min-width: 960px) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
      }

      > div:first-child {
        padding: var(--safe-area) 4vmin;
      }

      .credit {
        position: absolute;
        bottom: 0;
        inset-inline-end: 0;
        padding: 0.125em 0.25em;
        color: white;
        background-color: black;
      }
    }
  }

  figure.full-bleed {
    position: relative;
    margin-bottom: 0 !important;
    font-size: 0.8em;

    figcaption {
      color: white;
      background-color: black;
      position: absolute;
      bottom: 0;
      padding: 0.125em 0.25em;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      border: 4px solid black;
    }

    &.full-bleed--blend img {
      border: 0;
      mix-blend-mode: multiply;

      @media (prefers-color-scheme: dark) {
        mix-blend-mode: normal;
      }

      @media (forced-colors: active) {
        mix-blend-mode: normal;
      }
    }
  }

  .bg-stickers {
    background:
      linear-gradient(
        180deg,
        var(--color-official-green) 20%,
        color-mix(in oklch, transparent, var(--color-official-green)) 80%
      ),
      url("assets/bg/Django_Day_CPH_2024_stickers.jpg");
  }

  /**
   * Polaroid-style pictures, animated on page load to slide down from the top of the page.
   */
  .hero-picture {
    --headroom-z-index: 10;
    --transition-duration: 0.3s;
    --rest-angle: -2deg;
    --slide-start-x: 0%;
    --slide-start-y: -5%;
    --slide-end-x: 0%;
    --slide-end-y: 0%;
    display: inline-block;
    max-width: max(260px, 70vw);
    /* Allow one image to go above the other on hover. */
    position: relative;
    margin-top: 10px !important;
    margin-inline-start: 10px;
    margin-bottom: 50px;
    padding: 5px;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: white;
    transform: translate(var(--slide-end-x), var(--slide-end-y))
      rotate(var(--rest-angle));
    animation: 0.5s slideDown ease-out;
    transition-property: transform, filter;
    transition-duration: var(--transition-duration);
    z-index: calc(var(--headroom-z-index) + 1);

    @media print {
      display: none;
    }

    @media (min-width: 720px) {
      margin-inline-start: 50px;
      padding: 10px;
      max-width: 35dvmin;
    }

    @media (forced-colors: active) {
      border: 2px solid CanvasText;
    }

    @media (prefers-reduced-motion: reduce) {
      animation-iteration-count: 0;
    }

    img {
      /* Nicer rendering while images are loading. */
      background-color: var(--color-official-green);
      border-radius: 3px;
    }

    figcaption {
      padding-top: 10px;
      line-height: 1.1;
      text-align: center;
      font-weight: theme("fontWeight.bold");
      font-family: theme("fontFamily.mono");
      transition: opacity var(--transition-duration);
    }

    figcaption a {
      color: var(--color-official-green);
      font-size: min(1rem, 25px);

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &:hover,
    &:focus-within {
      /* Zooming looks good and helps avoid hover on/off flickering while rotating. */
      transform: translate(var(--slide-end-x), var(--slide-end-y)) rotate(0)
        scale(1.25);
      filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
      z-index: calc(var(--headroom-z-index) + 2);
    }

    &.hero-picture--small {
      @media (min-width: 960px) {
        max-width: 25dvmin;
      }
    }

    &.hero-picture--odd {
      --slide-start-x: 0%;
      --slide-start-y: 0%;
      --slide-end-x: 0%;
      --slide-end-y: 2.5%;
      --rest-angle: 3deg;
      animation-duration: 0.9s;

      @media (min-width: 960px) {
        --slide-end-x: 2.5%;
        --slide-end-y: 5%;
      }
    }
  }

  /* Figure with label underneath. */
  .project-metric {
    @apply bg-official-green text-official-white border-transparent border-2 p-6;
  }

  /* Person profile picture, name, title. */
  .profile {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      border-radius: 50%;
      border: 2px solid CanvasText;
    }
  }

  /* Corporate sponsor logo wrapped with a link. */
  .sponsor {
    @apply flex flex-col justify-center;

    @media (forced-colors: active) {
      img {
        forced-color-adjust: none;
        background-color: var(--color-official-white);
        padding: 1rem;
      }
    }
  }

  /* Heading anchor link. */
  .anchor {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    --top: calc(var(--safe-area) + 0.6em);
    padding-block: var(--top);
    padding-inline: calc(var(--safe-area) * 0.3);
    font-size: 1.6em;
    text-decoration: none;

    &:not(:hover, :focus) {
      opacity: 0;
    }

    &:has(+ :is(h2)) {
      --top: calc(var(--safe-area) * 2 + 0.3em);
    }

    &:has(+ :is(h2, h3):hover) {
      opacity: 1;
    }
  }

  /* A call-to-action button to use sparingly. */
  .button {
    display: inline-block;
    text-decoration: none;
    background-color: var(--hue);
    background: linear-gradient(to right, var(--hue) 30%, var(--bg2) 120%);
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: var(--font-weight-bold);
    font-size: 0.8em;
    letter-spacing: 1px;
    border-radius: 8px;
    transition:
      background-color 0.5s,
      color 0.5s;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    color: white;

    @media (forced-colors: active) {
      border: 3px solid ButtonText;
    }

    &:has(~ .button) {
      margin-inline-end: 10px;
    }
  }
}

/* For hero pictures to reposition on hover / focus. */
@keyframes slideDown {
  0% {
    transform: translate(var(--slide-start-x), var(--slide-start-y)) rotate(0);
  }
  100% {
    transform: translate(var(--slide-end-x), var(--slide-end-y))
      rotate(var(--rest-angle));
  }
}

/* huevo de Pascua */
[lang="es"] {
  cursor:
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='24'><text y='50%'>🇪🇸</text></svg>")
      16 0,
    auto;
}

img[src*="django-heart"] {
  cursor:
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48'><text y='50%'>✨</text></svg>")
      16 0,
    auto;
}

img[src*="europython_2024_dsf_badge"] {
  mask-image: url("assets/bg/pony-flying-outline.svg");
  mask-repeat: no-repeat;
  mask-size: 90%;
  mask-position: center;
  background-color: black;
}
